body{
font-family: 'Noto Sans TC', sans-serif;}

h1 .text-primary {
    font-size: 4rem;
    letter-spacing: -0.05rem;
    line-height: 4rem;
}
.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    text-transform: none;
    letter-spacing: -0.05rem;
}
h1, h2, h3, h4, h5, h6{font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary {
	background-color: #e88f9b!important;
background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png");}

.nav-item a .nav-link js-scroll-trigger{
	color:#ffe5e8!important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #ffe5e8;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffe5e8;
}
.text-primary {
	color: #e88f9b!important
}

h1 .text-primary {
text-transform:capitalize;
}

table {
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}

th {
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	color: #fff;
	background-color: #ffe5e8;
}

td {
	border-width: 1px;
	border-style: solid;
	border-color: #000;
}

tr:nth-child(even) {
	background-color: #aaa;
}

td:first-child {
	width: 35%;
	text-align: center;
}

td:last-child {
	width: 35%;
	text-align: right;
}

h7 {
    font-size: 3.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}